<extend name="Public/base"/>
    <block name="title"><title>天空之城首页</title></block>
    <block name="center1">
        <!-- 新歌首发 -->
        <div class="main" id="newSong">
            <div class="main-inner">
                <div class="main-title">
                    <h2 class="title"><i></i></h2>
                    <span class="line line-left"></span>
                    <span class="line line-right"></span>
                </div>
                <a href="#" class="readAll">全部<i class="icon-sprite"></i></a>
                <div class="main-tab tab-title">
                    <a href="javascript:;" class="item item-cur">全部</a>
                    <a href="javascript:;" class="item">华语</a>
                    <a href="javascript:;" class="item">欧美</a>
                    <a href="javascript:;" class="item">韩国</a>
                    <a href="javascript:;" class="item">日本</a>
                </div>
                <div class="main-slider tab-cont">
                    <ul class="slider-wrapper">
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img1.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img2.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img3.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img4.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img1.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img2.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img3.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img4.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img1.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img2.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img3.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img4.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">范玮琪</a>
                            </div>
                        </li>
                    </ul>
                    <div class="slider-btns">
                        <span class="cur"><i></i></span>
                        <span><i></i></span>
                        <span><i></i></span>
                    </div>
                </div>
            </div>
            <div class="main-operate">
                <a href="javascript:;" class="slider-prev"><i class="icon-sprite"></i></a>
                <a href="javascript:;" class="slider-next"><i class="icon-sprite"></i></a>
            </div>
        </div>
    </block>
    <block name="center2">
        <!-- 精彩推荐 -->
        <div class="main" id="recommend">
            <div class="main-inner">
                <div class="main-title">
                    <h2 class="title"><i></i></h2>
                    <span class="line line-left"></span>
                    <span class="line line-right"></span>
                </div>
                <div class="carousel">
                    <div class="carousel-slider">
                        <a href="#" class="item item-pic1"><img src="__PUBLIC__/images/cont/carousel_img1.jpg" alt="#"></a>
                        <a href="#" class="item item-pic2"><img src="__PUBLIC__/images/cont/carousel_img2.jpg" alt="#"></a>
                        <a href="#" class="item item-pic3"><img src="__PUBLIC__/images/cont/carousel_img3.jpg" alt="#"></a>
                        <a href="#" class="item item-pic4"><img src="__PUBLIC__/images/cont/carousel_img4.jpg" alt="#"></a>
                        <a href="#" class="item item-pic5"><img src="__PUBLIC__/images/cont/carousel_img5.jpg" alt="#"></a>
                        <a href="#" class="item item-pic6"><img src="__PUBLIC__/images/cont/carousel_img6.jpg" alt="#"></a>
                    </div>
                    <div class="slider-btns">
                        <span class="cur"><i></i></span>
                        <span><i></i></span>
                        <span><i></i></span>
                        <span><i></i></span>
                        <span><i></i></span>
                        <span><i></i></span>
                    </div>
                </div>
            </div>
            <div class="main-operate">
                <a href="#" class="slider-prev"><i class="icon-sprite"></i></a>
                <a href="#" class="slider-next"><i class="icon-sprite"></i></a>
            </div>
        </div>
    </block>
    <block name="center3"><!-- 排行榜 -->
        <div class="main" id="rank">
            <div class="main-inner">
                <div class="main-title">
                    <h2 class="title"><i></i></h2>
                    <span class="line line-left"></span>
                    <span class="line line-right"></span>
                </div>
                <a href="#" class="readAll">全部<i class="icon-sprite"></i></a>
                <ul class="rank-list">
                    <li class="rank-list__item rank-list__1">
                        <span class="rank-bg"></span>
                        <span class="mask"></span>
                        <i class="icon-play"></i>
                        <div class="title">
                            <i></i>
                            <h3>流行指数</h3>
                        </div>
                        <i class="line"></i>
                        <ul class="song-list">
                            <li class="song-list__item">
                                <a href="#"><span>1</span>默 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>2</span>月亮粑粑 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>3</span>Uptown Funk (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>4</span>你永远不知道 (Live)</a>
                                <span>张杰</span>
                            </li>
                        </ul>
                    </li>
                    <li class="rank-list__item rank-list__2">
                        <span class="rank-bg"></span>
                        <span class="mask"></span>
                        <i class="icon-play"></i>
                        <div class="title">
                            <i></i>
                            <h3>热歌</h3>
                        </div>
                        <i class="line"></i>
                        <ul class="song-list">
                            <li class="song-list__item">
                                <a href="#"><span>1</span>默 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>2</span>月亮粑粑 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>3</span>Uptown Funk (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>4</span>你永远不知道 (Live)</a>
                                <span>张杰</span>
                            </li>
                        </ul>
                    </li>
                    <li class="rank-list__item rank-list__3">
                        <span class="rank-bg"></span>
                        <span class="mask"></span>
                        <i class="icon-play"></i>
                        <div class="title">
                            <i></i>
                            <h3>新歌</h3>
                        </div>
                        <i class="line"></i>
                        <ul class="song-list">
                            <li class="song-list__item">
                                <a href="#"><span>1</span>默 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>2</span>月亮粑粑 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>3</span>Uptown Funk (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>4</span>你永远不知道 (Live)</a>
                                <span>张杰</span>
                            </li>
                        </ul>
                    </li>
                    <li class="rank-list__item rank-list__4">
                        <span class="rank-bg"></span>
                        <span class="mask"></span>
                        <i class="icon-play"></i>
                        <div class="title">
                            <i></i>
                            <h3>欧美歌曲</h3>
                        </div>
                        <i class="line"></i>
                        <ul class="song-list">
                            <li class="song-list__item">
                                <a href="#"><span>1</span>默 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>2</span>月亮粑粑 (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>3</span>Uptown Funk (Live)</a>
                                <span>张杰</span>
                            </li>
                            <li class="song-list__item">
                                <a href="#"><span>4</span>你永远不知道 (Live)</a>
                                <span>张杰</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </block>
    <block name="center4">
        <!-- 热门歌单 -->
        <div class="main" id="hotSong">
            <div class="main-inner">
                <div class="main-title">
                    <h2 class="title"><i></i></h2>
                    <span class="line line-left"></span>
                    <span class="line line-right"></span>
                </div>
                <div class="main-slider">
                    <ul class="slider-wrapper">
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img1.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <!-- <a href="#">那个静默的阳光午后</a> -->
                                    <a href="#">殿堂金钻认证：BIGBANG最热歌曲大合集</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img2.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img3.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img4.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img5.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img6.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img7.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img8.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img9.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img10.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img11.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="img">
                                <img src="__PUBLIC__/images/cont/slider_img12.jpg" alt="#">
                                <span class="mask"></span>
                                <i class="icon-play"></i>
                            </a>
                            <div class="info">
                                <div class="title">
                                    <a href="#">那个静默的阳光午后</a>
                                    <i class="icon-sprite"></i>
                                </div>
                                <a href="#" class="author">播放量：179.7万</a>
                            </div>
                        </li>
                    </ul>
                    <div class="slider-btns">
                        <span class="cur"><i></i></span>
                        <span><i></i></span>
                        <span><i></i></span>
                    </div>
                </div>
            </div>
            <div class="main-operate">
                <a href="javascript:;" class="slider-prev"><i class="icon-sprite"></i></a>
                <a href="javascript:;" class="slider-next"><i class="icon-sprite"></i></a>
            </div>
        </div>
    </block>
    <block name="center5">
        <!-- MV -->
        <div class="main" id="mv">
            <div class="main-inner">
                <div class="main-title">
                    <h2 class="title"><i></i></h2>
                    <span class="line line-left"></span>
                    <span class="line line-right"></span>
                </div>
                <a href="#" class="readAll">全部<i class="icon-sprite"></i></a>
                <div class="main-tab tab-title">
                    <a href="javascript:;" class="item item-cur">全部</a>
                    <a href="javascript:;" class="item">华语</a>
                    <a href="javascript:;" class="item">欧美</a>
                    <a href="javascript:;" class="item">港台</a>
                    <a href="javascript:;" class="item">韩国</a>
                    <a href="javascript:;" class="item">日本</a>
                </div>
                <ul class="mv-list tab-cont">
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img1.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img2.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img3.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img4.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img5.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img6.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img7.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="img"><img src="__PUBLIC__/images/cont/mv_img8.jpg" alt="#"><i class="icon-play"></i></a>
                        <div class="info">
                            <a href="#" class="title">Let Me Love You</a>
                            <a href="#" class="author">刘惜君</a>
                            <span class="play-total"><i class="icon-sprite"></i>18.8万</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </block>
    <block name="scripts">
        <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
        <script src="__PUBLIC__/scripts/script.js"></script>
    </block>
