<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <block name="title"><title>天空之城基础模板</title></block>
    <load href="__PUBLIC__/styles/index.css"/>
    <load href="__PUBLIC__/styles/reset.css"/>
    <block name="styles"></block>
    <block name="scripts"></block>
</head>
<body>
    <include file="Public/header"/>
    <block name="center1">新歌首发</block>
    <block name="center2">精彩推荐</block>
    <block name="center3">新碟首发</block>
    <block name="center4">排行榜</block>
    <block name="center5">MV</block>
    <include file="Public/footer"/>
</body>
</html>