<footer class="footer">
    <div class="footer-inner">
        <div class="footer-info">
            <div class="footer-info__download">
                <h3>下载天空之城音乐客户端</h3>
                <ul class="list">
                    <li><a href="#">
                        <i class="footer-icon icon-pc"></i>
                        PC版
                    </a></li>
                    <li><a href="#">
                        <i class="footer-icon icon-mac"></i>
                        Mac版
                    </a></li>
                    <li><a href="#">
                        <i class="footer-icon icon-android"></i>
                        Android版
                    </a></li>
                    <li><a href="#">
                        <i class="footer-icon icon-iphone"></i>
                        iPhone版
                    </a></li>
                </ul>
            </div>
            <div class="footer-info__product">
                <h3>特色产品</h3>
                <ul class="list">
                    <li class="hasPic"><a href="#">
                        <i class="footer-icon icon-kg"></i>
                        全民K歌
                    </a></li>
                    <li class="hasPic"><a href="#">
                        <i class="footer-icon icon-ss"></i>
                        全民K歌
                    </a></li>
                    <li class="hasPic"><a href="#">
                        <i class="footer-icon icon-qp"></i>
                        全民K歌
                    </a></li>
                    <li><a href="#">天空之城音乐原创音乐平台</a></li>
                    <li><a href="#">上传视频</a></li>
                    <li><a href="#">上传视频</a></li>
                    <li><a href="#">上传视频</a></li>
                </ul>
            </div>
            <div class="footer-info__link">
                <h3>特色产品</h3>
                <ul class="list">
                    <li><a href="#">CJ E&M</a></li>
                    <li><a href="#">腾讯视频</a></li>
                    <li><a href="#">手机QQ空间</a></li>
                    <li><a href="#">最新版QQ</a></li>
                    <li><a href="#">腾讯社交广告</a></li>
                    <li><a href="#">电脑管家</a></li>
                    <li><a href="#">QQ 浏览器</a></li>
                    <li><a href="#">腾讯微云</a></li>
                    <li><a href="#">腾讯云</a></li>
                    <li><a href="#">企鹅FM</a></li>
                    <li><a href="#">智能电视网</a></li>
                    <li><a href="#">当贝市场</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <p><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a><span>|</span><a href="#">关于我们</a></p>
            <p>Copyright © 1998 - 2017 kk. All Rights Reserved.</p>
            <p>天空之城公司 版权所有 天空之城网络文化经营许可证</p>
        </div>
    </div>
</footer>
